# Compound Discoverer Results Files
*.cdResult
*.cdResultView

# folder with a lot of .png images
reports/figures/All Quant vs OGTT plots/

# Annotated spectra from Dain's script
reports/figures/Annotated Spectra

# Structured data format file of chemical info/
*.sdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# /data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Microsoft temp files:
[~][$]*
data/processed/CD33_metabs_manual_curated.csv
data/search/CD33/Nilerat_lipids_CD33_aligned.csv
data/search/CD33/Nilerat_lipids_CD33_aligned_CD33converted.csv
data/search/CD33/CD_output/Nilerat_lipids_CD33_unaligned_CD33converted.csv
data/search/CD33/CD_output/Nilerat_lipids_CD33_aligned_filtered_20220331_CD33converted.csv
data/search/CD33/CD_output/Nilerat_lipids_CD33_aligned.csv
data/search/CD33/CD_output/Nilerat_lipids_CD33_aligned_filtered_20220331.csv
data/external/serum_metabolites.xml
